---
author: user
title: My OkCupid! Politics Test Result
slug: my-okcupid-politics-test-result
id: 738
date: '2005-09-25 20:59:58'
layout: single
categories:
  - General
---

Picked this up from [Don Park](http://www.docuverse.com/blog/donpark/), via the [Planet Identity](http://planetidentity.org) aggregator. Slightly apprehensive posting this, I have to say... If you don't see another entry, you'll know the black helicopters visited the Patterson household...  

<table style="border:1px solid black">

<tbody>

<tr>

<td align="center"><font size="3">You are a

<center>  
<font size="4">**Social Liberal**</font>  
<font shmolor="#a8a8a8" size="3">(80% permissive)</font>  
</center>

and an...

<center>  
<font size="4">**Economic Liberal**</font>  
<font shmolor="#a8a8a8" size="3">(18% permissive)</font>  
</center>

You are best described as a:  

 <font size="+2"><u><center>**Socialist**</center></u></font></font>   

<table id="thetable" name="thetable" background="http://is3.okcupid.com/graphics/politics/chart_political.gif" border="0" cellpadding="0" cellspacing="0" height="375" width="375">

<tbody>

<tr height="287">

<td width="281"></td>

<td width="93"></td>

</tr>

<tr height="87">

<td width="281"></td>

<td align="left" valign="top" width="93">![](http://is3.okcupid.com/graphics/politics_you.gif)</td>

</tr>

</tbody>

</table>

<table id="thetable" name="thetable" background="http://is3.okcupid.com/graphics/politics/chart_basic.jpg" border="0" cellpadding="0" cellspacing="0" height="375" width="375">

<tbody>

<tr height="287">

<td width="281"></td>

<td width="93"></td>

</tr>

<tr height="87">

<td width="281"></td>

<td align="left" valign="top" width="93">![](http://is3.okcupid.com/graphics/politics_you.gif)</td>

</tr>

</tbody>

</table>

Link: [**The Politics Test**](http://www.okcupid.com/politics) on [**Ok Cupid**](http://www.okcupid.com)</td>

</tr>

</tbody>

</table>

The 'famous people' version of the chart places me somewhere between Hilary Rodham Clinton and Mahatma Gandhi:  

<table id="thetable" name="thetable" background="http://is3.okcupid.com/graphics/politics/chart_famous.jpg" border="0" cellpadding="0" cellspacing="0" height="375" width="375">

<tbody>

<tr height="287">

<td width="281"></td>

<td width="93"></td>

</tr>

<tr height="87">

<td width="281"></td>

<td align="left" valign="top" width="93">![](http://is3.okcupid.com/graphics/politics_you.gif)</td>

</tr>

</tbody>

</table>

Interesting...